---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Draggable from '../../components/vue/draggable.vue';

const pageTitle = "Vue";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Vue Playground</h2>
	<Draggable client:idle/>
  <div id="app"></div>
  
  <div class="mt-10">
    <a href="/vue/pinia" style="color: #17b8fe;">Pinia Playground</a>
  </div>
</BaseLayout>


<script>
import { createApp } from 'vue';
import App from '../../components/vue/app.vue';
import { createRouter, createWebHistory } from 'vue-router';
import About from '../../vue-route/router-about.vue';

const routes = [
  { path: '/', component: App },
  { path: '/router-about', component: About },
];

const router = createRouter({
  history: createWebHistory(),
  routes,
});

const app = createApp(App);
app.use(router);
app.mount('#app');
</script>
