---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Vue > Pinia";

--- 
<BaseLayout pageTitle={pageTitle}>
  <h2>Pinia Playground</h2>
  <div id="app"></div>
</BaseLayout>

<script src="/src/scripts/todo.js"></script>