---
import BaseLayout from '../layouts/BaseLayout.astro';
import Draggable from '../components/vue/draggable.vue';
const pageTitle = "Vue";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Vue Playground</h2>
	<Draggable client:idle/>
</BaseLayout>