---
import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import VueNavigation from "../components/vue/navigation.vue";

---
<header>
  <nav>
    <Hamburger/>
    <ThemeIcon />
    <Navigation/>
  </nav>
  <VueNavigation client:load/>
</header>

