---
---
<div class="nav-links hidden lg:flex lg:gap-x-12">
  <a href="/" type="button" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags">Tags</a>
  <a href="/vue">Vue</a>
</div>